@model BusinessObjects.SystemAccount

@{
    ViewData["Title"] = "Account Details";
}

<h1>@ViewData["Title"]</h1>

<div class="card">
    <div class="card-header">
        <h4>Information for @Model.AccountName</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.AccountId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.AccountId)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.AccountName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.AccountName)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.AccountEmail)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.AccountEmail)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.AccountRole)
            </dt>
            <dd class="col-sm-9">
                @if (Model.AccountRole == 1)
                {
                    <span class="badge bg-primary">Staff</span>
                }
                else if (Model.AccountRole == 2)
                {
                    <span class="badge bg-secondary">Lecturer</span>
                }
                else
                {
                    @Html.DisplayFor(model => model.AccountRole)
                }
            </dd>
        </dl>
    </div>
    <div class="card-footer">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>